@font-face {
  font-family: "open-sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "open-sans_bold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
}

$tablet: 768px;

$desktop: 1150px;

$mobile-only: 767px;

$retina-dpi: 144dpi;

$retina-dppx: 1.5dppx;

body {
  margin: 0;
  padding: 0;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
}

.container {
  min-width: 320px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
