.catalog {
  padding-left: 30px;
  padding-right: 30px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  padding-top: 30px;
  list-style: none;
}

.catalog__item {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  border: 1px solid #ededed;
}
