.catalog-page__head {
  margin: 0;
  padding: 0;
  padding-top: 69px;
  padding-bottom: 75px;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
  min-height: 170px;
  width: 100%;
  box-sizing: border-box;
  background-color: #f1f1f1;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  text-align: center;
}

.catalog-page__zigzag {
  display: none;
}

@media (min-width: $tablet) {
  .catalog-page {
    position: relative;
    top: -45px;
    z-index: 1;
    overflow: hidden;
  }

  .catalog-page__head {
    padding-top: 93px;
    padding-bottom: 80px;
    font-size: 43px;
    line-height: 50px;
  }

  .catalog-page__top {
    position: relative;
    margin-bottom: 46px;
  }

  .catalog-page__zigzag {
    display: block;
    position: absolute;
    width: 104%;
    height: 18px;
    bottom: 0;
    left: -15px;
    background-image: url("../img/bg-zigzag-fill.svg");
    background-size: 100%;
    overflow: hidden;
  }
}

@media (min-width: $desktop) {
  .catalog-page__head {
    font-size: 53px;
    line-height: 57px;
    padding-bottom: 113px;
  }

  .catalog-page__top {
    position: relative;
    margin-bottom: 84px;
  }

  .catalog-page {
    position: relative;
    top: -38px;
    z-index: 1;
  }

  .catalog-page__zigzag {
    height: 28px;
    bottom: 0;
  }
}
