.catalog-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.catalog-list__link {
  display: block;
  min-height: 100px;
  
  color: #000000;
  text-decoration: none;
  padding-left: 35px;
  padding-top: 27px;
  padding-bottom: 27px;
  
  box-sizing: border-box;
  
  color: #ffffff;
}

.catalog-list__link--interior {
  background-color: #63d1bb;
}

.catalog-list__link--toys {
  background-color: #56c3b2;
}

.catalog-list__info {
  font-family: "open-sans_bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  
  margin: 0;
  padding: 0;
  
  max-width: 130px;
}