.catalog-item__link {
  text-decoration: none;
}

.catalog-item__image {
  width: 100%;
  margin-bottom: 25px;
}

.catalog-item__head {
  margin: 0;
  padding: 0;
  padding-left: 25px;
  padding-right: 25px;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.catalog-item__info {
  margin: 0;
  padding: 0;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 20px;
  font-family: "open-sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.catalog-item__price {
  margin: 0;
  padding: 0;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

@media (min-width: $tablet) {
  .catalog-item {
    min-height: 334px;
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
  }

  .catalog-item__head {
    margin: 0;
    margin-bottom: 13px;
    padding: 0;
    font-size: 20px;
    line-height: 24px;
  }

  .catalog-item__info {
    margin: 0;
    padding: 0;
    margin-bottom: 180px;
    font-size: 15px;
    line-height: 30px;
  }

  .catalog-item__image {
    width: 334px;
    height: 334px;
    margin: 0;
    margin-right: 25px;
    padding: 0;
  }

  .catalog-item__wrapper {
    padding-top: 30px;
    width: 100%;
  }

  .catalog-item__price {
    border-top: 1px solid #ececec;
    font-size: 17px;
    line-height: 24px;
  }
}

@media (min-width: $desktop) {
  .catalog-item {
    margin: 0;
    margin-right: 50px;
    padding: 0;
    width: 315px;
    min-height: 660px;
    flex-direction: column;
    flex-wrap: wrap;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
