.catalog-item {
  display: flex;
  flex-direction: column;
}

.catalog-item:hover {
  box-shadow: 0px 6px 10px 2px rgba(0,0,0,0.1);

  & .catalog-item__head {
    opacity: 0.6;
  }

  & .catalog-item__icon {
    fill: #63d1bb;
    opacity: 1.0;
  }
}

.catalog-item:active {
  box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.1);
}

.catalog-item__link {
  text-decoration: none;
}

.catalog-item__image {
  display: inline-block;
  align-self: center;
  margin: 0 auto;
  margin-bottom: 23px;
  max-width: 100%;
  height: auto;
}

.catalog-item__head {
  margin: 0;
  padding: 0;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.catalog-item__wrapper {
  padding-left: 25px;
  padding-right: 27px;
  padding-bottom: 30px;
}

.catalog-item__info {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  margin-bottom: 19px;
  font-family: "open-sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
}

.catalog-item__price {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  border-top: 1px solid #ececec;
}

.catalog-item__icon {
  position: absolute;
  bottom: 2px;
  right: 0;
  opacity: 0.2;
}

@media (min-width: $tablet) {
  .catalog-item {
    height: 335px;
    display: flex;
    flex-wrap: wrap;
  }

  .catalog-item__link {
    width: 50%;
  }

  .catalog-item__head {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    padding-right: 35px;
    font-size: 20px;
    line-height: 24px;
  }

  .catalog-item__info {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 30px;
  }

  .catalog-item__image {
    width: 100%;
    height: 334px;
    margin: 0;
    margin-right: 25px;
    padding: 0;
  }

  .catalog-item__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-left: 28px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 29px;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
  }

  .catalog-item__price {
    margin-top: auto;
    padding-top: 20px;
    padding-left: 4px;
    font-size: 17px;
    line-height: 24px;
  }

  .catalog-item__icon {
    bottom: 4px;
    right: 2px;
  }
}

@media (min-width: $desktop) {
  .catalog-item__link {
    width: 100%;
    height: 410px;
  }

  .catalog-item {
    margin: 0;
    margin-right: 50px;
    padding: 0;
    width: 34.7%;
    min-height: 635px;
    flex-direction: row;
    flex-wrap: wrap;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .catalog-item__head {
    padding-right: 20px;
  }

  .catalog-item__wrapper {
    width: 100%;
    max-height: 35%;
    padding-top: 54px;
    padding-left: 25px;
  }

  .catalog-item__info {
    margin-bottom: 20px;
  }

  .catalog-item__price {
    padding-top: 15px;
  }

  .catalog-item__image {
    margin: 0;
  }

  .catalog-item__about {
    height: 150px;
  }
}
