.color-form {
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
}

.color-controls {
  display: flex;
  flex-direction: column;
}

.color-controls__item {
  display: inline-block;
  vertical-align: top;
  
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-left: 25px;
  margin-bottom: 25px;
  
  font-family: "open-sans_bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.color-controls__item:last-child {
  margin-bottom: 0;
}