.color-form {
  margin: 0;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 32px;
  border: none;
  border-top: 1px solid #62d1ba;
}

.color-form__head {
  margin: 0;
  padding: 0;
  padding-right: 20px;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  background-color: white;
  text-transform: uppercase;
}

.color-form__controls {
  display: flex;
  flex-direction: column;
}

.color-form__input {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

.color-form__item {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 13px;
  padding-left: 60px;
  padding-bottom: 10px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  &:hover .color-form__control {
    border: 2px solid #62d1ba;
  }

  &:active .color-form__control {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.color-form__control {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 1px;
  left: 0;
  border: 2px solid #444444;
}

.color-form__input:checked ~ .color-form__control::after {
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  top: 10px;
  left: 6px;
  background-image: url("../img/icon-tick.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.color-form__input:focus ~ .color-form__control {
  border: 2px solid #62d1ba;
}

@media (min-width: $tablet) {
  .color-form {
    margin-bottom: 58px;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 28.5%;
    padding-right: 6.5%;
    position: relative;
    background-color: #f1f1f1;
    border: none;
  }

  .color-form__control {
    width: 50px;
    height: 48px;
    position: absolute;
    top: -3px;
    left: -2px;
  }

  .color-form__input:checked ~ .color-form__control::after {
    width: 34px;
    height: 26px;
    top: 13px;
    left: 9px;
  }

  .color-form__head {
    position: absolute;
    top: 65px;
    left: 51px;
    background-color: transparent;
  }

  .color-form__controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .color-form__item {
    width: 42%;
    margin-bottom: 35px;
    margin-right: 52px;
    padding-left: 80px;
    box-sizing: border-box;
    font-size: 19px;
    line-height: 18px;

    &::after {
      top: -2px;
      width: 48px;
      height: 48px;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop) {
  .color-form {
    margin-bottom: 58px;
    padding-left: 19.7%;
  }

  .color-form__item {
    width: 25%;
    margin-right: 52px;

    &:nth-child(2n) {
      margin-right: 52px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .color-form__head {
    position: absolute;
    top: 63px;
    left: 110px;
  }
}
