.color-form {
  padding: 0;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 32px;
  border: none;
}

.color-form__head {
  margin: 0;
  padding: 0;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}

.color-form__controls {
  display: flex;
  flex-direction: column;
}

.color-form__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-left: 60px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;

  &:last-child {
    margin-bottom: 0;
  }

  &::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 37px;
    height: 37px;
    border: 2px solid #444444;
  }
}

@media (min-width: $tablet) {
  .color-form {
    position: relative;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 168px;
    margin-bottom: 60px;
    background-color: #f1f1f1;
    width: 73%;
  }

  .color-form__head {
    position: absolute;
    top: 65px;
    left: 0;
  }

  .color-form__controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .color-form__item {
    box-sizing: border-box;
    width: 210px;
    font-size: 19px;
    line-height: 18px;
    margin-bottom: 35px;
    margin-right: 52px;
    padding-left: 80px;

    &::after {
      top: -2px;
      width: 48px;
      height: 48px;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop) {
  .color-form {
    padding-left: 176px;
    margin-bottom: 57px;
  }

  .color-form__item {
    margin-right: 52px;

    &:nth-child(2n) {
      margin-right: 52px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .color-form__head {
    position: absolute;
    top: 63px;
    left: 60px;
  }
}
