.contacts {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

.contacts__flag {
  position: absolute;
  display: none;
}

.contacts__header {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.contacts__about-us {
  margin-bottom: 38px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border-collapse: collapse;
  font-family: "open-sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.contacts__field {
  margin: 0;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__value {
  margin: 0;
  padding: 0;
  width: 160px;
}

.contacts__value--email {
  width: 177px;
  text-decoration: none;
  color: #444444;
  position: relative;

  &:hover {
    color: #62d1ba;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #62d1ba;
  }
}

.contacts__map {
  position: relative;
  left: -30px;
  margin-bottom: 34px;
}

.contacts__wrapper {
  position: relative;
}

.contacts__icon {
  position: absolute;
  top: 29%;
  left: 40%;
}

@media (min-width: $tablet) {
  .contacts {
    padding-bottom: 60px;
    padding-top: 72px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .contacts__flag {
    display: block;
    top: 57px;
    right: 0;
  }

  .contacts__field {
    margin-bottom: 0;
  }

  .contacts__header {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 50px;
  }

  .contacts__about-us {
    margin: 0;
    padding: 0;
    flex-direction: row;
    font-size: 17px;
    margin-bottom: 60px;
  }

  .contacts__value {
    width: 250px;

    &--email {
      width: 200px;
      margin-right: 50px;
    }
  }

  .contacts__map {
    padding-left: 300px;
    margin-bottom: 45px;
  }

  .contacts__button {
    display: inline-block;
    margin: 0 auto;
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  .contacts__icon {
    top: 26%;
    left: 50%;
  }
}

@media (min-width: $desktop) {
  .contacts {
    position: relative;
    width: 340px;
    padding-left: 170px;
    padding-top: 150px;
    padding-bottom: 105px;
    flex-direction: column;
  }

  .contacts__flag {
    display: block;
    top: 140px;
    left: 60px;
  }

  .contacts__header {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 48px;
  }

  .contacts__field {
    margin-bottom: 30px;
  }

  .contacts__button {
    margin: 0;
    margin-right: 105px;
  }

  .contacts__about-us {
    margin-bottom: 77px;
  }

  .contacts__map {
    position: absolute;
    left: 125px;
    top: -400px;
  }

  .contacts__icon {
    top: -260px;
    left: 175%;
  }
}
