.contacts {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  box-sizing: border-box;
}

.contacts__flag {
  position: absolute;
  display: none;
}

.contacts__header {
  margin: 0;
  padding: 0;
  padding-left: 9%;
  padding-right: 9%;
  margin-bottom: 25px;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  box-sizing: border-box;
}

.contacts__about-us {
  padding-left: 9%;
  padding-right: 9%;
  margin-bottom: 38px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border-collapse: collapse;
  font-family: "open-sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  box-sizing: border-box;
}

.contacts__field {
  margin: 0;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__value {
  margin: 0;
  padding: 0;
}

.contacts__value--email {
  text-decoration: none;
  color: #444444;
  position: relative;

  &:hover {
    color: #62d1ba;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #62d1ba;
  }
}

.contacts__map {
  display: block;
  margin: 0 auto;
  position: relative;
  margin-bottom: 38px;
}

.contacts__wrapper {
  width: 100%;
  position: relative;
}

.contacts__icon {
  position: absolute;
  top: 32%;
  left: 43%;
}

.contacts__email {
  width: 100%;
  display: flex;
}

.contacts__address {
  width: 100%;
  display: flex;
}

.contacts__button {
  display: inline-block;
  margin-left: 9%;
  margin-right: 9%;
  box-sizing: border-box;
  max-width: 82%;
}

@media (min-width: $tablet) {
  .contacts {
    width: 87%;
    padding-bottom: 60px;
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__flag {
    display: block;
    top: 57px;
    right: 0;
  }

  .contacts__field {
    margin-bottom: 0;
    margin-right: 22px;
  }

  .contacts__header {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 49px;
    padding: 0;
  }

  .contacts__email {
    width: 50%;
  }

  .contacts__address {
    width: 50%;
  }

  .contacts__about-us {
    margin: 0;
    padding: 0;
    flex-direction: row;
    font-size: 17px;
    margin-bottom: 60px;
  }

  .contacts__value {
    width: 250px;

    &--email {
      width: 200px;
      margin-right: 50px;
    }
  }

  .contacts__wrapper {
    width: 100%;
  }

  .contacts__map {
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .contacts__button {
    display: inline-block;
    margin: 0 auto;
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
  }

  .contacts__icon {
    top: 26.5%;
    left: 47%;
  }
}

@media (min-width: $desktop) {
  .contacts {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    padding-left: 19%;
    padding-top: 150px;
    padding-bottom: 105px;
    flex-direction: column;
    box-sizing: border-box;
  }

  .contacts__flag {
    display: block;
    top: 140px;
    left: 110px;
  }

  .contacts__header {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 48px;
  }

  .contacts__email {
    width: 100%;
  }

  .contacts__address {
    width: 100%;
  }

  .contacts__value {
    padding-left: 8px;
  }

  .contacts__field {
    margin-bottom: 30px;
  }

  .contacts__button {
    margin: 0;
    margin-right: 75%;
  }

  .contacts__about-us {
    margin-bottom: 77px;
  }

  .contacts__map {
    padding: 0;
    position: absolute;
    left: 525px;
    top: -400px;
  }

  .contacts__icon {
    top: -260px;
    left: 64%;
  }
}
