.email-form {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid #62d1ba;
}

.email-form__head {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  padding-right: 20px;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  background-color: white;
  text-transform: uppercase;
}

.email-form__input {
  width: 100%;
  min-height: 40px;
  margin-bottom: 33px;
  padding-top: 14px;
  padding-bottom: 17px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  box-sizing: border-box;
  font-family: "open-sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #444444;
  outline: none;

  &:focus {
    border-bottom: 2px solid #62d1ba;
  }

  &::placeholder {
    font-family: "open-sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3;
  }
}

.email-form__wrapper {
  width: 100%;
  height: auto;
  position: relative;
}

.email-form__icon {
  top: 9px;
  right: 4px;
  position: absolute;
  opacity: 0.2;
}

.email-form__wrapper:hover .email-form__icon {
  fill: #62d1ba;
  opacity: 1;
}

.email-form__wrapper:hover .email-form__input {
  border-bottom: 2px solid #62d1ba;
}

@media (min-width: $tablet) {
  .email-form {
    padding-left: 28.5%;
    padding-right: 6.5%;
    position: relative;
    background-color: #f1f1f1;
    box-sizing: border-box;
    border: none;
  }

  .email-form__head {
    font-size: 17px;
    line-height: 16px;
    position: absolute;
    top: 17px;
    left: 52px;
  }

  .email-form__icon {
    top: 10px;
    right: 21px;
  }

  .email-form__wrapper::after {
    top: 11px;
    right: 22px;
  }

  .email-form__input {
    padding-left: 15px;
    padding-top: 9px;
    padding-bottom: 14px;
    font-size: 19px;
    line-height: 18px;

    &::placeholder {
      font-size: 19px;
      line-height: 18px;
    }
  }
}

@media (min-width: $desktop) {
  .email-form {
    padding-left: 19.7%;
    padding-right: 19.7%;
  }

  .email-form__head {
    left: 110px;
  }

  .email-form__icon {
    top: 9px;
    right: 0;
  }

  .email-form__wrapper::after {
    top: 9px;
    right: 5px;
  }
}
