.email-form {
  padding: 0;
  margin: 0;
  border: none;
}

.email-form__head {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}

.email-form__input {
  width: 100%;
  min-height: 40px;
  margin-bottom: 33px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 17px;

  &:hover {
    border-bottom: 2px solid #62d1ba;
  }

  &:focus {
    border-bottom: 2px solid #62d1ba;
  }

  &::placeholder {
    font-family: "open-sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3;
  }
}

.email-form__wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.email-form__icon {
  top: 9px;
  right: 4px;
  position: absolute;
  opacity: 0.2;
}

.email-form__wrapper:hover .email-form__icon {
  fill: #62d1ba;
  opacity: 1.0;
}

.email-form__input:focus .email-form__icon {
  fill: #62d1ba;
  opacity: 1.0;
}

@media (min-width: $tablet) {
  .email-form {
    position: relative;
    padding-left: 167px;
    background-color: #f1f1f1;
  }

  .email-form__head {
    font-size: 17px;
    line-height: 16px;
    position: absolute;
    top: 17px;
    left: 0;
  }

  .email-form__wrapper::after {
    top: 11px;
    right: 22px;
  }

  .email-form__input {
    padding-left: 15px;

    &::placeholder {
      font-size: 19px;
      line-height: 18px;
    }
  }
}

@media (min-width: $desktop) {
  .email-form {
    width: 700px;
    padding-left: 176px;
  }

  .email-form__head {
    left: 60px;
  }

  .email-form__wrapper::after {
    top: 9px;
    right: 5px;
  }
}
