.featured {
  max-width: 100%;
  padding-top: 30px;
  padding-bottom: 40px;
}

.featured__header {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.featured__type {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  display: inline-block;
  vertical-align: top;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
}

@media (min-width: $tablet) {
  .featured__header {
    font-size: 43px;
    line-height: 50px;
    margin-right: 115px;
  }
  .featured__wrapper {
    display: flex;
    margin-bottom: 40px;
  }
  .featured__type {
    width: 100px;
    font-size: 17px;
    line-height: 17px;
    padding-top: 10px;
  }
}
