.featured {
  width: 100%;
  padding-top: 27px;
  padding-bottom: 41px;
  position: relative;
  overflow: hidden;
}

.featured__header {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
  padding-left: 9.5%;
  padding-right: 9.5%;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.featured__type {
  margin: 0;
  padding: 0;
  padding-left: 9.5%;
  padding-right: 9.5%;
  margin-bottom: 22px;
  display: inline-block;
  vertical-align: top;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
}

.featured__zig-zag {
  width: 110%;
  height: 15px;
  position: absolute;
  bottom: 0;
  left: -30px;
  background-repeat: repeat-x;
  background-image: url("../img/bg-zigzag-line.svg");
  background-size: 100%;
  overflow: hidden;
}

@media (min-width: $tablet) {
  .featured {
    width: 100%;
    padding-top: 47px;
    padding-bottom: 50px;

    &::after {
      left: -53px;
      width: 115%;
    }
  }

  .featured__header {
    margin: 0;
    padding-left: 6%;
    padding-right: 6%;
    font-size: 43px;
    line-height: 50px;
  }

  .featured__wrapper {
    width: 100%;
    margin-bottom: 48px;
    display: block;
  }

  .featured__type {
    width: 100px;
    margin: 0;
    position: absolute;
    right: -10px;
    top: 58px;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
  }

  .featured__zig-zag {
    height: 25px;
  }
}

@media (min-width: $desktop) {
  .featured {
    width: 100%;
    padding-top: 123px;
    padding-bottom: 85px;
    padding-left: 14%;
    box-sizing: border-box;
  }

  .featured__wrapper {
    width: 64%;
    margin: 0;
    padding: 0;
  }

  .featured__header {
    margin-bottom: 50px;
    padding-left: 9%;
    font-size: 53px;
    line-height: 57px;
  }

  .featured__type {
    top: 140px;
    left: -27px;
  }

  .featured__zig-zag {
    height: 48px;
    overflow: hidden;
  }
}
