.form-page {
  position: relative;
  overflow: hidden;
}

.form-page__head {
  min-height: 175px;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 70px;
  padding-bottom: 65px;
  box-sizing: border-box;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  background-color: #f1f1f1;
  text-align: center;
}

.form-page__zigzag {
  display: none;
  overflow: hidden;
}

@media (min-width: $tablet) {
  .form-page {
    top: -45px;
    padding-bottom: 4px;
    overflow: hidden;
  }

  .form-page__head {
    min-height: 225px;
    margin-bottom: 71px;
    padding-top: 91px;
    font-size: 43px;
    line-height: 50px;
    overflow: hidden;
  }

  .form-page__top {
    position: relative;

    &::after {
      content: "";
      width: 100%;
      height: 18px;
      display: block;
      position: absolute;
      bottom: 0;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: 770px 26px;
      overflow: hidden;
      background-repeat: repeat-x;
    }
  }
}

@media (min-width: $desktop) {
  .form-page {
    top: -38px;
    padding-bottom: 12px;
  }

  .form-page__head {
    min-height: 257px;
    margin-bottom: 116px;
    padding-top: 92px;
    font-size: 53px;
    line-height: 57px;
  }

  .form-page__top::after {
    width: 100%;
    height: 30px;
    bottom: -8px;
    background-size: 1150px 34px;
    overflow: hidden;
  }
}
