.form-page {
  padding-bottom: 55px;
}

.form-page__head {
  min-height: 175px;
  box-sizing: border-box;
  
  margin: 0;
  padding: 0;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 75px;
  padding-bottom: 65px;
  margin-bottom: 25px;
  
  font-family: "open-sans_bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  
  background-color: #f1f1f1;
}
