.form-page {
  padding-bottom: 55px;
}

.form-page__head {
  min-height: 175px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 70px;
  padding-bottom: 65px;
  margin-bottom: 22px;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  background-color: #f1f1f1;
  text-align: center;
}

@media (min-width: $tablet) {
  .form-page {
    margin-top: -45px;
    padding-bottom: 49px;
  }

  .form-page__head {
    min-height: 225px;
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 71px;
    padding-top: 91px;
  }
}

@media (min-width: $desktop) {
  .form-page {
    margin-top: -39px;
    padding-bottom: 50px;
  }

  .form-page__head {
    padding-top: 93px;
    min-height: 185px;
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 160px;
  }
}
