.full-name-form {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  position: relative;
  border: none;
  display: flex;

  &::before {
    content: "";
    width: 77%;
    height: 1px;
    position: absolute;
    top: 8px;
    right: 0;
    background-color: #62d1ba;
  }
}

.full-name-form__head {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}

.full-name-form__header {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.full-name-form__input {
  width: 100%;
  min-height: 40px;
  margin-bottom: 21px;
  padding-top: 14px;
  padding-bottom: 17px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  box-sizing: border-box;
  font-family: "open-sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #444444;
  outline: none;

  &:hover {
    border-bottom: 2px solid #62d1ba;
  }

  &:focus {
    border-bottom: 2px solid #62d1ba;
  }

  &::placeholder {
    font-family: "open-sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .full-name-form {
    margin-bottom: 50px;
    padding-left: 28.5%;
    padding-right: 6.5%;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;

    &::before {
      display: none;
    }
  }

  .full-name-form__head {
    top: 12px;
    left: 52px;
    position: absolute;
  }

  .full-name-form__header {
    margin-right: 25px;
    padding-top: 11px;
    font-size: 19px;
    line-height: 18px;
  }

  .full-name-form__wrapper {
    width: 100%;
    display: flex;
  }

  .full-name-form__input {
    width: 100%;
    margin-bottom: 29px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 14px;
    font-size: 19px;
    line-height: 18px;

    &::placeholder {
      font-size: 19px;
      line-height: 18px;
    }
  }
}

@media (min-width: $desktop) {
  .full-name-form {
    padding-left: 19.7%;
    padding-right: 19.7%;
    margin-bottom: 51px;
  }

  .full-name-form__head {
    left: 110px;
  }
}
