.full-name-form {
  border: none;
  display: flex;
}

.full-name-form__name,
.full-name-form__surname,
.full-name-form__patronymic {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;  
  
  font-family: "open-sans_bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.form__input {
  width: 100%;
  min-height: 40px;
  margin-bottom: 40px;
  
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;
}

.form__input::placeholder {
  font-family: "open-sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  
  color: #444444;
  opacity: .3;
}