.header {
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ececec;
  }

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ececec;
  }
}

.header__logo {
  width: 90px;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  display: block;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .header {
    position: relative;
    display: flex;
    flex-direction: row;

    &::before {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      top: 90px;
      background-color: #e7e7e7;
    }

    &::after {
      display: none;
    }
  }

  .header__logo {
    padding: 0;
    border: none;
    position: absolute;
    top: 16%;
    left: 6.5%;
    display: block;
    z-index: 1;
  }
}

@media (min-width: $desktop) {
  .header__logo {
    left: 43.5%;
    top: 8px;
  }
}
