.html-academy__head {
  margin: 0;
  padding: 0;
  padding-left: 40px;
  padding-top: 25px;
  padding-bottom: 30px;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
}

@media (min-width: $tablet) {
  .html-academy__head {
    margin: 0;
    padding: 0;
  }
}
