.items-list__image {
  margin-bottom: 27px;
}

.items-list__price {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-left: 65px;
  
  font-family: "open-sans_bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  
  color: #444444;
}