.items-list {
  display: flex;
  flex-direction: column;
}

.items-list__image {
  margin: 0 auto;
  margin-bottom: 21px;
}

.items-list__price {
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 0;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  color: #444444;
}

.items-list__about {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-family: "open-sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.items-list__spec {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 27px;
}

.items-list__field,
.items-list__value {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: "open-sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
  border-bottom: 1px solid #ececec;
}

.items-list__value {
  padding-left: 17px;
}

@media (min-width: $tablet) {
  .items-list {
    padding-right: 44px;
    box-sizing: border-box;
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .items-list__image {
    margin: 0;
    padding: 0;
    position: absolute;
    display: block;
    right: 0;
    top: 153px;
  }

  .items-list__about {
    margin: 0;
    padding: 0;
    margin-bottom: 36px;
    width: 290px;
    font-family: "open-sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 30px;
    color: #444444;
  }

  .items-list__spec {
    margin-bottom: 55px;
    margin-right: 40px;
  }

  .items-list__value {
    padding-left: 7px;
    padding-top: 9px;
  }

  .items-list__field {
    padding-top: 9px;
  }

  .items-list__price {
    font-size: 20px;
    margin-bottom: 32px;
  }
}

@media (min-width: $desktop) {
  .items-list {
    padding-right: 0;
    width: 33.8%;
  }

  .items-list__about {
    margin-bottom: 46px;
  }

  .items-list__spec {
    margin-bottom: 108px;
  }

  .items-list__price {
    margin-bottom: 35px;
  }

  .items-list__image {
    top: 71px;
    left: 525px;
    z-index: -1;
  }
}
