.little-info {
  padding: 0;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  list-style: none;
}

.little-info__icon {
  position: absolute;
  fill: #63d1bb;
  top: 0;
  left: 0;

  &--local-manufacturer {
    left: -7px;
  }

  &--material {
    top: -3px;
    left: 7px;
  }

  &--style {
    top: -2px;
  }

  &--likes {
    top: 2px;
    left: 6px;
  }

  &--with-love {
    left: 2px;
  }

  &--gift-wrap {
    top: -1px;
    left: 2px;
  }
}

.little-info__item {
  max-width: 260px;
  min-height: 106px;
  margin: 0 auto;
  padding-top: 34px;
  position: relative;
  box-sizing: border-box;
}

@media (min-width: $tablet) {
  .little-info {
    width: 100%;
    margin-bottom: 102px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 22px;
  }

  .little-info__item {
    width: 50%;
    max-width: none;
    margin-bottom: 37px;

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 3;
    }

    &:nth-child(3) {
      order: 5;
    }

    &:nth-child(4) {
      order: 2;
    }

    &:nth-child(5) {
      order: 4;
    }

    &:nth-child(6) {
      order: 6;
    }
  }
}

@media (min-width: $desktop) {
  .little-info {
    width: 700px;
    margin-bottom: 109px;
  }

  .little-info__item {
    padding-top: 33px;
  }
}
