.main-navigation {
  position: relative;
  display: flex;
  flex-direction: column;
}

.main-navigation__toggle {
  display: block;
  position: absolute;
  background-color: transparent;
  border: none;
  top: -50px;
  right: 9%;
  width: 21px;
  height: 15px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 15px;
    background-image: url("../img/icon-menu-open.svg");
    background-repeat: no-repeat;
  }
}

.main-navigation__close {
  display: block;
  position: absolute;
  background-color: transparent;
  border: none;
  width: 23px;
  height: 23px;
  top: -55px;
  right: 9%;

  &::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    top: 0;
    left: 0;
    background-image: url("../img/icon-menu-close.svg");
    background-repeat: no-repeat;
  }
}

@media (max-width: $mobile-only) {
  .main-navigation--closed .main-navigation__list {
    display: none;
  }

  .main-navigation--closed .main-navigation__user-block {
    display: none;
  }

  .main-navigation--closed .main-navigation__options {
    display: none;
  }

  .main-navigation--closed .main-navigation__close {
    display: none;
  }

  .main-navigation--opened .main-navigation__toggle {
    display: none;
  }

  .main-navigation--nojs .main-navigation__close {
    display: none;
  }

  .main-navigation--nojs .main-navigation__toggle {
    display: none;
  }
}

@media (min-width: $tablet) {
  .main-navigation {
    border: none;
    display: flex;
    flex-direction: row;
    width: 87%;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .main-navigation__user-block {
    order: -1;
  }

  .main-navigation__wrapper {
    display: flex;
  }

  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__close {
    display: none;
  }
}

@media (min-width: $desktop) {
  .main-navigation {
    width: 91.3%;
  }

  .main-navigation__list {
    order: -2;
  }
}
