.main-footer {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 9%;
  padding-right: 9%;
  padding-top: 20px;
  background-color: #f1f1f1;
  box-sizing: border-box;
  overflow: hidden;
}

.main-footer__social {
  margin: 0;
  padding-bottom: 15px;
}

.main-footer__logo {
  display: none;
}

@media (min-width: $tablet) {
  .main-footer {
    width: 100%;
    min-height: 154px;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 6.5%;
    padding-right: 6.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box;
    align-items: flex-start;
  }

  .main-footer__index {
    margin-bottom: -45px;
  }

  .main-footer__logo {
    display: block;
    margin: 0;
    margin-right: 18%;
    padding: 0;
    position: relative;
    top: -18px;

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .main-footer__social {
    padding: 0;
  }

  .main-footer__html-academy {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop) {
  .main-footer {
    padding-left: 4.5%;
    padding-right: 4.5%;
  }

  .main-footer__index {
    margin-bottom: -38px;
  }

  .main-footer__logo {
    margin-right: 21%;
  }
}
