.more-form {
  padding: 0;
  margin: 0;
  border: none;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 77%;
    top: 8px;
    right: 0;
    background-color: #62d1ba;
  }
}

.more-form__head {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}

.more-form__textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 14px;
  min-height: 140px;
  max-height: 540px;
  border: 2px solid #000000;
  resize: vertical;
  font-family: "open-sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #444444;
  outline: none;

  &:hover {
    border: 2px solid #62d1ba;
  }

  &:focus {
    border: 2px solid #62d1ba;
  }

  &::placeholder {
    font-family: "open-sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .more-form {
    position: relative;
    padding-left: 28.5%;
    padding-right: 6.5%;
    padding-top: 68px;
    padding-bottom: 52px;
    box-sizing: border-box;

    &::before {
      display: none;
    }
  }

  .more-form__head {
    font-size: 17px;
    line-height: 16px;
    position: absolute;
    top: 85px;
    left: 51px;
  }

  .more-form__textarea {
    padding: 13px;
    font-size: 19px;
    line-height: 18px;
  }

  .more-form__textarea::placeholder {
    font-size: 19px;
    line-height: 18px;
  }
}

@media (min-width: $desktop) {
  .more-form {
    padding-left: 19.7%;
    padding-right: 19.7%;
    padding-bottom: 46px;
    padding-top: 67px;
  }

  .more-form__head {
    top: 83px;
    left: 110px;
  }
}
