.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  margin: 0;
  padding: 0;
  
  padding-left: 75px;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 80px;
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
}

.site-list__link {
  position: relative;
  
  color: #000000;
  text-decoration: none;
  
  font-family: "open-sans_bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  
  display: inline-block;
  vertical-align: top;
}