.social-list {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 32px;
}

.social-list__icon {
  position: absolute;
  top: 8px;
  left: -3px;

  &--facebook {
    top: 3px;
  }
}

.social-list__item {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
}

@media (min-width: $tablet) {
  .social-list {
    width: 145px;
    border: none;
    padding-top: 6px;
    margin-right: 72px;
  }
}

@media (min-width: $desktop) {
  .social-list {
    margin-right: 265px;
  }
}
