.social-list {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 32px;
}

.social-list__icon {
  position: absolute;
  top: 8px;
  left: -3px;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }

  &--facebook {
    top: 3px;
  }
}

.social-list__item {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
}

@media (min-width: $tablet) {
  .social-list {
    width: 22%;
    border: none;
    padding-top: 6px;
    margin: 0 auto;
  }
}
