.telephone-form {
  padding: 0;
  margin: 0;
  border: none;
  border-top: 1px solid #62d1ba;
}

.telephone-form__head {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  padding-right: 20px;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  background-color: #ffffff;
  text-transform: uppercase;
}

.telephone-form__wrapper {
  width: 100%;
  height: auto;
  position: relative;
}

.telephone-form__icon {
  position: absolute;
  top: 10px;
  right: 7px;
  opacity: 0.2;
}

.telephone-form__input {
  width: 100%;
  min-height: 40px;
  margin-bottom: 32px;
  padding-top: 14px;
  padding-bottom: 17px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  box-sizing: border-box;
  font-family: "open-sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #444444;
  outline: none;

  &:focus {
    border-bottom: 2px solid #62d1ba;
  }

  &::placeholder {
    font-family: "open-sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3;
  }
}

.telephone-form__wrapper:hover .telephone-form__icon {
  fill: #62d1ba;
  opacity: 1;
}

.telephone-form__wrapper:hover .telephone-form__input {
  border-bottom: 2px solid #62d1ba;
}

@media (min-width: $tablet) {
  .telephone-form {
    padding-top: 22px;
    padding-left: 28.5%;
    padding-right: 6.5%;
    position: relative;
    background-color: #f1f1f1;
    box-sizing: border-box;
    border: none;
  }

  .telephone-form__head {
    font-size: 17px;
    line-height: 16px;
    position: absolute;
    top: 39px;
    left: 51px;
    background-color: transparent;
  }

  .telephone-form__icon {
    top: 10px;
    right: 26px;
  }

  .telephone-form__wrapper::after {
    right: 26px;
  }


  .telephone-form__input {
    margin-bottom: 25px;
    padding-left: 15px;
    padding-top: 9px;
    padding-bottom: 14px;
    font-size: 19px;
    line-height: 18px;

    &::placeholder {
      font-size: 19px;
      line-height: 18px;
    }
  }
}

@media (min-width: $desktop) {
  .telephone-form {
    padding-left: 19.7%;
    padding-right: 19.7%;
  }

  .telephone-form__wrapper::after {
    right: 8px;
  }

  .telephone-form__icon {
    top: 10px;
    right: 5px;
  }

  .telephone-form__head {
    left: 110px;
  }

  .telephone-form__input {
    margin-bottom: 25px;
  }
}
