.telephone-form {
  padding: 0;
  margin: 0;
  border: none;
}

.telephone-form__head {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}

.telephone-form__wrapper {
  position: relative;
  width: 100%;
  height: auto;
}

.telephone-form__icon {
  top: 10px;
  right: 23px;
  position: absolute;
  opacity: 0.2;
}

.telephone-form__input {
  width: 100%;
  min-height: 40px;
  margin-bottom: 32px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  box-sizing: border-box;
  padding-top: 17px;
  padding-bottom: 17px;

  &:hover {
    border-bottom: 2px solid #62d1ba;
  }

  &:focus {
    border-bottom: 2px solid #62d1ba;
  }

  &::placeholder {
    font-family: "open-sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: #444444;
    opacity: 0.3;
  }
}

.telephone-form__wrapper:hover .telephone-form__icon {
  fill: #62d1ba;
  opacity: 1.0;
}

.telephone-form__input:focus .telephone-form__icon {
  fill: #62d1ba;
  opacity: 1.0;
}

@media (min-width: $tablet) {
  .telephone-form {
    position: relative;
    padding-top: 22px;
    padding-left: 167px;
    background-color: #f1f1f1;
  }

  .telephone-form__head {
    font-size: 17px;
    line-height: 16px;
    position: absolute;
    top: 37px;
    left: 0;
  }
  .telephone-form__wrapper::after {
    right: 26px;
  }


  .telephone-form__input {
    margin-bottom: 23px;
    padding-left: 15px;

    &::placeholder {
      font-size: 19px;
      line-height: 18px;
    }
  }
}

@media (min-width: $desktop) {
  .telephone-form {
    width: 700px;
    padding-left: 176px;
  }

  .telephone-form__wrapper::after {
    right: 8px;
  }

  .telephone-form__head {
    left: 60px;
  }

  .telephone-form__input {
    margin-bottom: 25px;
  }
}
