.user-block {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-block__item {
  margin: 0;
  padding: 0;
  padding-left: 75px;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 80px;
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
}

.user-block__icon {
  position: absolute;

  &--search {
    left: -45px;
    top: 5px;
    opacity: 0.2;
  }

  &--cart {
    left: -45px;
    top: 3px;
    opacity: 0.2;
  }
}

.user-block__link {
  position: relative;
  color: #000000;
  text-decoration: none;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: inline-block;
  vertical-align: top;

  &:hover .user-block__text {
    opacity: 0.6;
  }

  &:hover .user-block__icon {
    fill: #56c3b2;
    opacity: 1.0;
  }

  &:active .user-block__icon {
    fill: #56c3b2;
    opacity: 0.3;
  }

  &:active .user-block__text {
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .user-block {
    display: flex;
    box-sizing: border-box;
  }

  .user-block__item {
    background-color: transparent;
    min-height: 90px;
    border: none;
  }

  .user-block__item--search {
    width: 82px;
    padding: 0;
    padding-top: 30px;
    padding-left: 75px;
    position: relative;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    background-color: #ffffff;
  }

  .user-block__item--cart {
    padding-left: 83px;
    min-height: 90px;
    width: 265px;
    background-color: #ffffff;
  }

  .user-block__text--search {
    display: none;
  }
}
