.user-block {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 84px;
    left: 0;
    background-color: #ececec;
  }
}

.user-block__item {
  margin: 0 auto;
  padding: 0;
  padding-left: 24%;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 80px;
  box-sizing: border-box;
  width: 81%;
}

.user-block__icon {
  position: absolute;

  &--search {
    left: -45px;
    top: 5px;
    opacity: 0.2;
  }

  &--cart {
    left: -45px;
    top: 3px;
    opacity: 0.2;
  }
}

.user-block__link {
  position: relative;
  color: #000000;
  text-decoration: none;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: inline-block;
  vertical-align: top;

  &:hover .user-block__text {
    opacity: 0.6;
  }

  &:hover .user-block__icon {
    fill: #56c3b2;
    opacity: 1;
  }

  &:active .user-block__icon {
    fill: #56c3b2;
    opacity: 0.3;
  }

  &:active .user-block__text {
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .user-block {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding-left: 48%;
    min-height: 89px;

    &::before {
      display: none;
    }
  }

  .user-block__item {
    padding-top: 31px;
    background-color: transparent;
    min-height: 89px;
    border: none;
    box-sizing: border-box;
  }

  .user-block__icon--search {
    position: absolute;
    left: -40px;
  }

  .user-block__icon--cart {
    left: -51px;
    top: 4px;
  }

  .user-block__item--search {
    width: 24%;
    padding: 0;
    padding-top: 31px;
    padding-left: 72px;
    position: relative;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    background-color: #ffffff;
    box-sizing: border-box;
  }

  .user-block__item--cart {
    padding-left: 63px;
    min-height: 89px;
    width: 76%;
    background-color: #ffffff;
    text-align: right;
  }

  .user-block__text--search {
    display: none;
  }
}

@media (min-width: $desktop) {
  .user-block {
    width: 33%;
    padding-left: 0;
  }
}
