.video {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 25px;
  padding-bottom: 35px;
  margin-bottom: 60px;
  border: 1px solid #ededed;
}

.video__head {
  padding: 0;
  margin: 0;
  padding-left: 55px;
  margin-bottom: 25px;
  
  font-family: "open-sans_bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.video__video {
  position: relative;
  left: -36px;
  
  margin: 0;
  padding: 0;
  
  margin-bottom: 30px;
}

.video__info {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  
  font-family: "open-sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  
  color: #444444;
}