.video {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 25px;
  padding-bottom: 35px;
  margin-bottom: 60px;
  border: 1px solid #ededed;
}

.video__head {
  padding: 0;
  margin: 0;
  padding-left: 55px;
  margin-bottom: 25px;
  font-family: "open-sans_bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.video__video {
  position: relative;
  left: -36px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.video__info {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-family: "open-sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

@media (min-width: $tablet) {
  .video {
    margin: 0;
    padding: 0;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
  }

  .video__video {
    margin-bottom: 40px;
    width: 100%;
    height: 455px;
    left: 0;
    order: -1;
  }

  .video__head {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 40px;
    padding-left: 100px;
  }

  .video__wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }

  .video__info {
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop) {
  .video {
    min-height: 455px;
    position: relative;
    padding-left: 760px;
    padding-right: 60px;
    padding-top: 100px;
    margin-bottom: 100px;
    box-sizing: border-box;
  }

  .video__head {
    padding: 0;
  }

  .video__wrapper {
    padding: 0;
  }

  .video__video {
    position: absolute;
    top: 0;
    width: 682px;
    height: 455px;
  }
}
